<h2>cadastrar livro</h2>

<form action="/register/save" method="post">
    <div>
        <label for="title">titulo</label>
        <input type="text" name="title" placeholder="digite titulo" id="title">
    </div>
    <div>
        <label for="pageqty">numero de páginas</label>
        <input type="number" name="pageqty" placeholder="digite o numero de paginas" id="pageqty">
    </div>
    
    <button type="submit">cadastrar</button>
</form>